@model School3.Models.Nauczyciel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Nauczyciel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrzedmiotId" class="control-label"></label>

                @*<input asp-for="PrzedmiotId" class="form-control" />*@

                <div class="form-group">
                    @Html.DropDownList("PrzedmiotId", String.Empty)
                    @Html.ValidationMessageFor(model => model.PrzedmiotId)
                    
                </div>

                <span asp-validation-for="PrzedmiotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
