.reveal table{
    font-size: 32px; 
 }

#classification{
   font-size: 18px; 
}

#classification td {
    margin: auto;
    padding: 0.1 em;
}

#classification td ul{
    display: block;
}

.reveal section img {
    border: none;
    box-shadow: none;
    max-width: 100%;
    max-height: 100%;
}

.reveal .slides section .fragment.highlight-orange,
.reveal .slides section .fragment.highlight-current-orange {
  opacity: 1;
  visibility: inherit; }

.reveal .slides section .fragment.highlight-orange.visible {
    color: #ffc72c; }

#logo{
    position: fixed;
    right: 10px;
    top: 10px;
    max-height: 150px;
}

#header {
    font-family: monospace;
    font-size: 20px;
    color: #252525;
    left: 20px;
    top: 20px;
    position: fixed;
}

.kafelki{
    display: grid;
    grid-template-columns: auto auto;
    align-content: space-evenly;
    grid-gap: 20px;
}

.kafelki > a.kafelek{
    background:  rgba(253, 253, 253, 0.5);
    border: 1px solid black;
    width: 350px;
    height: 350px;
    text-align: center;
    color: black;
    font-size: 28px;
    margin: auto;
    vertical-align: middle;
}

.kafelki > a.kafelek:hover{
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:  rgba(253, 253, 253, 0.8);
    text-align: center;
}

.kafelek > span > img{
    background:  rgba(253, 253, 253, 0.5);
    box-shadow: none;
    border: none;
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}

a.kafelek:hover > span > img{
    box-shadow: none;
    border: none;
    opacity: 0.8;
}

#progress{
    font-size: 40%;
    color: #252525;
    position: fixed;
    bottom: -920px;
    left: -27%;
}

#slides{
    font-size: 40%;
    color:  #252525;
    position: fixed;
    bottom: -920px;
    right: -27%;
}

/* WHOAMI */

#danielPhoto {
    border-radius: 100%;
    grid-area: 1/3/2/4;
    border: 4px solid #222
}

.container-slide{
    display:grid;
    grid-template-columns: 55% 15% 15% 15%;
    grid-template-rows: 40% auto auto auto;
    justify-items: center;
    align-items: center;
    grid-column-gap: 30px;
}
.row-container{
    width: 70%;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-items: center;
}

#footer .row-container{
    margin: auto;
}

.column-grid-text
{
    grid-area: 1/1/4/2;
}

.reveal div .certificates-row #certs{
    margin: auto;
    padding: auto;
    width: 100%;
    height: 150px;
    display: flex;
    vertical-align: middle;
}

.reveal section .certificates-row img{
    max-height: 100px;
    max-width: 150px;
    padding: 15px;
    vertical-align: middle;
}

.reveal div .universities-row #univers{
    margin: auto;
    padding: auto;
    width: 100%;
    height: 150px;
    display: flex;
    vertical-align: middle;
}

.reveal section .universities-row img{
    max-height: 120px;
    max-width: 150px;
    padding: 15px;
    vertical-align: middle;
}

/**List**/
.greyed{
    color: grey;
}

/**Photo**/
#jezyki{
    height:780px;
}
